@charset "UTF-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
#container{
	width:960px;
	height:800px;
	margin: 0 auto;
}
header{
	background-image: url("Assets/bhsalogo.jpg");
	height: 220px;
	background-repeat: no-repeat;
	background-position: center;
}
nav{
	width: 960px;
	height: 60px;
	overflow: hidden;
  	background-color: #E3B575;
	text-align: center;
	border-style:solid;
	font-family: 'Sorts Mill Goudy', serif;
	margin: 0 auto;
}
a:link {
  text-decoration: none;
	color: black;
}
a:visited {
	text-decoration: none;
	color: black;
}
.dropdown {
  float: none;
  overflow: hidden;
	display:inline-block;
	text-decoration: none;
}
.dropdown .dropbtn {
  font-size: 40px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit; 
	padding: 0px 50px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E3B575;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
float: none;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#section1{
	width: 960px;
	height: 80px;
	background-color: white;
	margin: 0 auto;
}
h2{
	font-family:'Sorts Mill Goudy', serif;
	font-size: 60px;
	text-align: center;
	padding: 0 auto;
	margin: 0 auto;
}
#section2{
	width: 480px;
	height: 400px;
	background-color:white;
	margin: 0 auto;
	padding: 10px, 10px;
	float: left;
}
#section3{
	width: 480px;
	height: 400px;
	background-color: white;
	padding: 10px, 10px;
	margin: 0 auto;
	float: right;
}
#image1{
	float: left;
	margin: 0 auto;
	padding: 20px;
}
#image2{
	float: left;
	margin: 0 auto;
	padding: 20px;
}
#image3{
	float: left;
	margin: 0 auto;
	padding: 20px;
}
#image4{
	float: right;
	margin: 0 auto;
	padding: 20px;	
}
#image1desc{
	width: 240px;
	height: 20px;
	float: left;
	margin: 0 auto;
	text-align: center;
	padding: 0px;
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 20px;
}
#image2desc{
	width: 240px;
	height: 20px;
	float: right;
	margin: 0 auto;
	text-align: center;
	padding: 0 auto;
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 20px;
}
#image3desc{
	width: 240px;
	height: 20px;
	float: left;
	margin: 0 auto;
	text-align: center;
	padding: 0 auto;
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 20px;
}
#image4desc{
	width: 240px;
	height: 20px;
	float: right;
	margin: 0 auto;
	text-align: center;
	padding: 0 auto;
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 20px;
}
#entertainment{
	float: left;
	width: 460px;
	height: 180px;
	padding:10px;
	margin: 10px;
	text-align: center;
	border-style: solid;
	background-color:#E3B575;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;	
}
#establishment{
	float: left;
	width: 460px;
	height: 180px;
	padding:10px;
	margin: 10px;
	text-align: center;
	border-style: solid;
	background-color:#E3B575;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;	
}
footer{
	width: 0 auto;
	height: 30px;
	font-family: 'Sorts Mill Goudy', serif;
	padding: 5px 0px;
}